@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Oswald:wght@300;400;500;700&display=swap");

:root {
  --color-naranja: #f88c0f;
  --color-cyan: #12a2c2;
  --color-texto-blanco: #ffffff;
  --color-texto-negro: #000000;

  --fuente-principal: "Open Sans", sans-serif;
  --fuente-titulos: "Oswald", sans-serif;
  --altura-mapa: 500px;
}

body {
  font-family: var(--fuente-principal);
  font-size: 16px;
  margin: 0;
  overflow-x: hidden;
}
.fondo-general {
  width: 100%;
  min-height: 100vh;
  font-family: var(--fuente-principal);
  background-image: url("@/assets/img/Fondos/fondo2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contenedor-mapa {
  width: 100%;
  height: var(--altura-mapa);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
}

.tarjeta-titulo-mapa {
  color: var(--color-texto-blanco);
  font-family: var(--fuente-titulos);
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
}
.contenedor-titulo {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.contenedor-botones-vuelta {
  padding: 10px;
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.btn-vuelta {
  font-family: var(--fuente-titulos) !important;
  color: var(--color-texto-blanco);
}
.btn-vuelta-activo {
  background-color: var(--color-naranja) !important;
  color: var(--color-texto-blanco) !important;
}
.btn-vuelta-inactivo {
  background-color: var(--color-texto-blanco) !important;
  color: var(--color-texto-negro) !important;
}

.contenedor-filtros {
  padding-top: 20px;
  padding-left: 30px;
}
.texto-filtro {
  font-family: var(--fuente-titulos);
  font-size: 15px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-row-center-spaced {
  margin: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.btn-accion-cyan {
  background-color: var(--color-cyan) !important;
  color: white !important;
}
